// layouts
@import (reference) "https://s3-us-west-2.amazonaws.com/s.cdpn.io/18728/calendar-agenda.less";
@import (reference) "https://s3-us-west-2.amazonaws.com/s.cdpn.io/18728/calendar-month-grid-full.less";

html {
	font-family: 'PT Sans Narrow', sans-serif;
}

.upcoming-events {
	
	.days li {
		display: inline-block;
		position: relative;
		visibility: hidden;
		
		&:after {
			content: attr(data-letter);
			display: inline-block;
			left: 0;
			position: absolute;
			visibility: visible;
			width: 100%;
		}
		
		@media (min-width: 800px) {
			
			&:after {
				content: attr(data-abbr);
			}
		}
		
		@media (min-width: 960px) {
			visibility: visible;
			
			&:after {
				content: ""
			}
		}
	}

	.dates li {
		position: relative;

		.details {
			left: 0;
			position: relative;
			height: 100%;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&:not([data-month="prev-month"]):not([data-month="next-month"]) .details {
			background: rgba(255, 255, 255, 0.75);
		}

		&:after {
			background: rgba(0, 0, 0, 0.25);
			content: "";
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 0;
		}

		&[data-has-events="true"]:not([data-month="prev-month"]):not([data-month="next-month"]):after {
			background: rgba(26, 146, 239, 0.75);
		}
		
		&[data-today="true"]:after {
			background: rgba(255, 255, 255, 1)
		}
	}
	
	// this agenda layout starts goes from 'mobile first' to 767px
	&:extend(.agenda all);
	
	// this grid layout div starts at 768px
	&:extend(.month-grid-full all);
}