<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="listadoGuardarropas">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Listado Guardarropas</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="listadoPrendas">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Lista Prendas Guardarropa Especifico</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="altaPrenda">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Alta Prendas</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="sugerencias">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Sugerencia</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="listadoPrendasYCalificacion">
            <i class="fas fa-fw fa-table"></i>
            <span>Listado de prendas y Calificación</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="calendario">
            <i class="fas fa-fw fa-table"></i>
            <span>Calendario</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="altaEvento">
            <i class="fas fa-fw fa-table"></i>
            <span>Alto Evento</span></a>
    </li>
</ul>